/*homepage and universals*/

body {
    /*background-image: url(../img/tiny_grid.png);*/
}

.container-85 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-75 {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    text-decoration-color: none;
}

figure {
    display: inline-block;
}

.wrap {
    float: left;
    margin-right: 1rem;
}

.article-title {
    /*font-family: 'Lora', serif;*/
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.page-title {
    /*font-family: 'Roboto Slab', serif;*/
    font-size: 2.5rem;
    line-height: 3rem;
}

.category-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.hero {
    background-image: url(img/Mayank%20Mishra-01.svg);
}

.category-group {
    margin-bottom: 5rem;
}


/*article page*/

.article-header {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.article-byline {
    color: #757575;
    font-weight: 500;
}

.article-body {
    width: inherit;
    /*font-family: 'Lora', serif;*/
    color: #555555;
    font-size: 1.1rem;
    line-height: 2rem;
    /*background-color: #FFFFFF;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;*/
}

.h2 {
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

/*About page*/
.name {
    font-size: 1.5rem;
    font-weight: 600
}

.school {
    font-style: italic
}

