  body {
      background-image: url(../img/tiny_grid.png);
  }
  
  .container-85 {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
  }
  
  .container-65 {
      width: 65%;
      margin-left: auto;
      margin-right: auto;
  }
  
  a:hover {
      text-decoration-color: none;
  }
  
  figure {
      display: inline-block;
  }
  
  .wrap {
      float: left;
      margin-right: 1rem;
  }
  
  .article-title {
      font-family: 'Lora', serif;
      font-size: 1.5rem;
      line-height: 2rem;
  }
  
  .page-title {
      font-family: 'Lora', serif;
      font-size: 2.5rem;
      line-height: 3.5rem;
  }
  
  .category-title {
      font-size: 1.5rem;
      font-weight: 600;
  }
  
  .hero {
      background-image: url(img/Mayank%20Mishra-01.svg);
  }
  
  .category-group {
      margin-bottom: 5rem;
  }